name: Build & Test Workflow
on:
    push:
        branches: [develop]
        paths:
            - '.github/workflows/*'
            - 'init/**'
            - 'unicorn_shared/**'
            - 'unicorn_contracts/**'
            - 'unicorn_properties/**'
            - 'unicorn_web/**'
env:
    AWS_REGION: 'ap-southeast-2'

permissions:
    id-token: write
    contents: read

jobs:
    init-sample-data:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - name: Configure AWS SAM
              uses: aws-actions/setup-sam@v2
              with:
                  use-installer: true
            - name: Configure AWS credentials
              uses: aws-actions/configure-aws-credentials@v2
              with:
                  role-to-assume: arn:aws:iam::819998446679:role/GithubActions-ServerlessDeveloperExperience
                  aws-region: ${{ env.AWS_REGION }}

# jobs:
#   shared-infrastructure:
#     runs-on: ubuntu-latest
#     steps:
#     - uses: actions/checkout@v3
#     - name: Configure AWS SAM
#       uses: aws-actions/setup-sam@v2
#       with:
#         use-installer: true
#     - name: Configure AWS credentials
#       uses: aws-actions/configure-aws-credentials@v2
#       with:
#         role-to-assume: arn:aws:iam::819998446679:role/GithubActions-ServerlessDeveloperExperience
#         aws-region: ${{ env.AWS_REGION }}
#     - name: Deploy Shared Infrastructure
#       working-directory: unicorn_shared
#       run: sam build |
#            cdk deploy --require-approval never

            - name: Deploy Shared Namespaces
              working-directory: unicorn_shared
              run: make deploy-namespaces

    uniorn-service:
        needs: shared-infrastructure
        runs-on: ubuntu-latest
        continue-on-error: true

        strategy:
            max-parallel: 1
            matrix:
                folder: [unicorn_contracts, unicorn_web, unicorn_properties]

        steps:
            - uses: actions/checkout@v4

#     - name: Configure AWS SAM
#       uses: aws-actions/setup-sam@v2
#       with:
#         use-installer: true

            - uses: pnpm/action-setup@v3
              with:
                  version: 8
                  package_json_file: ${{ matrix.folder }}/package.json

            - name: Install dependencies
              run: pnpm i
              working-directory: ${{ matrix.folder }}

            - name: Install AWS CDK
              run: pnpm add -g aws-cdk
              working-directory: ${{ matrix.folder }}

#     - name: Build the SAM template
#       run: sam build
#       working-directory: ${{ matrix.folder }}

#     - name: Deploy the SAM template
#       run: cdk deploy --require-approval never
#       working-directory: ${{ matrix.folder }}

            - name: Build the SAM template
              run: cdk build
              working-directory: ${{ matrix.folder }}

            - name: Deploy the SAM template
              run: cdk deploy --require-approval never
              working-directory: ${{ matrix.folder }}

            - name: Run integration tests
              run: make integration-test
              working-directory: ${{ matrix.folder }}
